%h3
  %strong Title:
  = @article.title
%h3
  %strong Text:
  = @article.text
%br
.panel.panel-default
  .panel-heading
    %h3.panel-title Comments
  .panel-body
    = render @article.comments
%h4 Add a comment:
= render 'comments/form'
%br

.btn-group
  %button.btn.btn-inverse{:href => "#"} 
    = link_to 'Edit Article', edit_article_path(@article)
.btn-group
  %button.btn.btn-inverse{:href => "#"} 
    = link_to 'Back to Articles', articles_path
